/* #main { 
    display: flex;
    align-items: center;
  }

#main div {
    flex: 1;
    border: 1px solid black;
    display: flex;
    align-items: center;
  } */

  @font-face {
    font-family: 'icomoon';
    src: url("../fonts/icomoon/icomoon.eot?srf3rx");
    src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
  }
 
  body {
    font-family: "Cormorant Garamond", Georgia, serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.7;
    color: rgba(255, 255, 255, 0.3);
    background: #000 url(../images/broken_noise.png) repeat;
    text-align: center;
  }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    body {
      background: #000 url(../images/broken_noise.png) repeat;
    }
  }

  #page {
    position: relative;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }

  .fh5co-loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../images/loader.gif) center no-repeat #fff;
  }

  #fh5co-header {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
  }
  @media screen and (max-width: 768px) {
    #fh5co-header {
      background-position: center center;
      background-attachment: scroll;
    }
  }

  #fh5co-header .overlay {
    z-index: 0;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
  }

  @media screen and (max-width: 768px) {
    #fh5co-header,
    .fh5co-cover {
      padding: 3em 0;
    }
  }

  @media screen and (max-width: 768px) {
    #fh5co-header .display-t,
    .fh5co-cover .display-t {
      padding: 3em 0;
    }
  }

  #fh5co-header .display-tc h1, #fh5co-header .display-tc h2,
  .fh5co-cover .display-tc h1{
    margin: 0;
    padding: 0;
    color: black;
  }

  #fh5co-header .display-tc h1,
  .fh5co-cover .display-tc h1 {
    margin-bottom: 0px;
    font-size: 74px;
    font-size: 80px;
    font-weight: 700;
  }
  @media screen and (max-width: 768px) {
    #fh5co-header .display-tc h1,
    .fh5co-cover .display-tc h1 {
      font-size: 42px;
      line-height: 50px;
    }
  }
  #fh5co-header .display-tc h1 em,
  .fh5co-cover .display-tc h1 em {
    font-style: italic;
    font-weight: 600;
  }

  #fh5co-header .display-tc .form-inline .form-group,
  .fh5co-cover .display-tc .form-inline .form-group {
    width: 100% !important;
    margin-bottom: 10px;
  }

  #fh5co-header .display-tc .form-inline .form-group .form-control,
  .fh5co-cover .display-tc .form-inline .form-group .form-control {
    width: 100%;
    background: #fff;
    border: none;
  }
  
  .js .animate-box {
    opacity: 0;
  }

  #fh5co-featured-menu .fh5co-heading, #fh5co-gallery .fh5co-heading, #fh5co-reservation-form .fh5co-heading {
    margin-bottom: 170px;
  }
  @media screen and (max-width: 768px) {
    #fh5co-featured-menu .fh5co-heading, #fh5co-gallery .fh5co-heading, #fh5co-reservation-form .fh5co-heading {
      margin-bottom: 50px;
    }
  }
  #fh5co-featured-menu .fh5co-heading h2, #fh5co-gallery .fh5co-heading h2, #fh5co-reservation-form .fh5co-heading h2 {
    color: #fff;
    font-family: "Satisfy", cursive;
  }

  .fh5co-section {
    padding: 7em 0;
  }
  @media screen and (max-width: 480px) {
    .fh5co-section {
      padding: 3em 0;
    }
  }
  .fh5co-section p {
    color: rgba(255, 255, 255, 0.3);
    font-size: 18px;
    line-height: 1.5;
  }